In [193]:
import sys

import time
import pandas as pd
import numpy as np


#   paths
ANKI_PATH = 'C:/Users/plk2033/Documents/PythonDocs/anki-master'
COLLECTION_PATH = "C:/Users/plk2033/Documents/PythonDocs/collection.anki2"
pd.options.display.float_format = '{:.0f}'.format
sys.path.append(ANKI_PATH)

import anki
from anki import Collection
from anki.utils import intTime

In [159]:
col = Collection(COLLECTION_PATH)

cards = col.db.all("select id,nid,did from cards")

col.close()

In [160]:
col = Collection(COLLECTION_PATH)

card_id = []
note_id = []
tags =[]

for card in cards:
    card_id.append(card[0])
    note_id.append(card[1])
    tags.append(col.db.all("select tags from notes where id = " + str(card[1]))[0][0].split())
    
cards_w_tags = pd.DataFrame(list(zip(card_id, note_id,tags)), 
            columns =['Card_ID', 'Note_ID','Tags'])

col.close()

In [161]:
col = Collection(COLLECTION_PATH)

revlog = col.db.all("select id,cid,ease from revlog")

col.close()

In [190]:
date = []
card_id = []
ease =[]

result=[]
for card in revlog:
    date.append(time.strftime('%Y-%m-%d', time.localtime(card[0]/1000)))
    card_id.append(card[1])
    ease.append(card[2])

revlog_cards = pd.DataFrame(list(zip(date, card_id,ease)), 
            columns =['Date', 'Card_ID','Ease'])
revlog_cards = revlog_cards[revlog_cards['Date'] >= '2018-01-01']

In [191]:
revlog_cards = pd.merge(revlog_cards, cards_w_tags, how='left', on=['Card_ID'])

In [196]:
def f(row):
    if row['Ease'] < 3:
        val = 0
    else:
        val = 1
    return val

revlog_cards['Correct'] = revlog_cards.apply(f, axis=1)

In [197]:
revlog_cards

,Date,Card_ID,Ease,Note_ID,Tags,Correct
0,2018-01-01,1509667293007,3,1509667293001,"[BKM, Ch9, Exam9, Source]",1
1,2018-01-01,1513823492026,3,1513823492013,"[Exam9, Panning, Source]",1
2,2018-01-01,1509934048566,3,1509934048549,"[BKM, Ch9, Exam9, Source]",1
3,2018-01-01,1512872684567,3,1512872684561,"[BKM, Ch23, Exam9, Source]",1
4,2018-01-01,1512872684568,3,1512872684562,"[BKM, Ch23, Exam9, Source]",1
5,2018-01-01,1511750363656,3,1511750363635,"[BKM, Ch15, Exam9, Source]",1
6,2018-01-01,1509667258291,2,1509667258277,"[BKM, Ch8, Exam9, Source]",0
7,2018-01-01,1513719977378,3,1513719977370,"[BKM, Ch23, Exam9, Source]",1
8,2018-01-01,1510619431189,3,1510619431172,"[BKM, Ch12, Exam9, Source]",1
9,2018-01-01,1509667258301,3,1509667258287,"[BKM, Ch8, Exam9, Source]",1
10,2018-01-01,1510436412901,3,1510436412883,"[BKM, Ch11, Exam9, Source]",1
11,2018-01-01,1513823499812,2,1513823499804,"[Exam9, Goldfarb, Source]",0
12,2018-01-01,1510535153269,3,1510535153264,"[BKM, Ch12, Exam9, Source]",1
13,2018-01-01,1512275542507,3,1512275542493,"[BKM, Ch16, Exam9, Source]",1
14,2018-01-01,1502080515548,3,1502080515529,"[BKM, Ch6, Exam9, Source]",1
15,2018-01-01,1512439155149,2,1512439155137,"[BKM, Ch16, Exam9, Source]",0
16,2018-01-01,1513823499806,3,1513823499798,"[Exam9, Goldfarb, Source]",1
17,2018-01-01,1513823499811,1,1513823499803,"[Exam9, Goldfarb, Source]",0
18,2018-01-01,1505011791265,3,1505011791248,"[BKM, Ch7, Exam9, Source]",1
19,2018-01-01,1502080515542,1,1502080515523,"[BKM, Ch6, Exam9, Source]",0
20,2018-01-01,1513823499811,2,1513823499803,"[Exam9, Goldfarb, Source]",0
21,2018-01-01,1502080515542,2,1502080515523,"[BKM, Ch6, Exam9, Source]",0
22,2018-01-01,1504376537743,3,1504376537736,"[BKM, Ch7, Exam9, Source]",1
23,2018-01-01,1506984927992,3,1506984927977,"[BKM, Ch8, Exam9, Source]",1
24,2018-01-01,1509667258293,3,1509667258279,"[BKM, Ch8, Exam9, Source]",1
25,2018-01-01,1513823499809,1,1513823499801,"[Exam9, Goldfarb, Source]",0
26,2018-01-01,1513823492027,1,1513823492014,"[Exam9, Panning, Source]",0
27,2018-01-01,1512439155156,3,1512439155144,"[BKM, Ch16, Exam9, Source]",1
28,2018-01-01,1511750363641,3,1511750363620,"[BKM, Ch15, Exam9, Source]",1
29,2018-01-01,1506984927994,3,1506984927979,"[BKM, Ch8, Exam9, Source]",1
...,...,...,...,...,...,...
10721,2019-04-11,1514947454233,2,1514947454219,"[Exam9, Goldfarb, Source]",0
10722,2019-04-11,1512872684569,3,1512872684563,"[BKM, Ch23, Exam9, Source]",1
10723,2019-04-11,1520288519923,3,1520288519909,"[Capital, Cummins, Exam9, Source]",1
10724,2019-04-11,1512872684566,3,1512872684560,"[BKM, Ch23, Exam9, Source]",1
10725,2019-04-11,1516225238623,3,1516225238608,"[CATBonds, Cummins, Exam9, Source]",1
10726,2019-04-11,1511924972532,2,1511924972527,"[BKM, Ch16, Exam9, Source]",0
10727,2019-04-11,1509667293007,3,1509667293001,"[BKM, Ch9, Exam9, Source]",1
10728,2019-04-11,1509934048559,3,1509934048542,"[BKM, Ch9, Exam9, Source]",1
10729,2019-04-11,1520992028072,3,1520992028059,"[Bodoff, Exam9, Source]",1
10730,2019-04-11,1520288519927,3,1520288519913,"[Capital, Cummins, Exam9, Source]",1
10731,2019-04-11,1509934048569,3,1509934048552,"[BKM, Ch9, Exam9, Source]",1
10732,2019-04-11,1509934048563,4,1509934048546,"[BKM, Ch9, Exam9, Source]",1
10733,2019-04-11,1514947454229,3,1514947454215,"[Exam9, Goldfarb, Source]",1
10734,2019-04-11,1516064831094,3,1516064831078,"[Exam9, Goldfarb, Source]",1
10735,2019-04-11,1516225238637,3,1516225238622,"[CATBonds, Cummins, Exam9, Source]",1
10736,2019-04-11,1515554707280,2,1515554707271,"[Exam9, Goldfarb, Source]",0
10737,2019-04-11,1511750363650,3,1511750363629,"[BKM, Ch15, Exam9, Source]",1
10738,2019-04-11,1511382293148,3,1511382293132,"[BKM, Ch14, Exam9, Source]",1
10739,2019-04-11,1522989409688,3,1522989409658,"[Exam9, Ferrari, Source]",1
10740,2019-04-11,1513823499810,2,1513823499802,"[Exam9, Goldfarb, Source]",0
10741,2019-04-11,1513823492031,3,1513823492018,"[Exam9, Panning, Source, marked]",1
10742,2019-04-11,1516225238630,2,1516225238615,"[CATBonds, Cummins, Exam9, Source]",0
10743,2019-04-11,1513719977385,3,1513719977377,"[BKM, Ch23, Exam9, Source]",1
10744,2019-04-11,1515554707283,3,1515554707274,"[Exam9, Goldfarb, Source]",1
10745,2019-04-11,1517268279893,3,1517268279881,"[Exam9, McClenahan, Source]",1
10746,2019-04-11,1510709230271,3,1510709230267,"[BKM, Ch12, Exam9, Source]",1
10747,2019-04-11,1511382293152,2,1511382293136,"[BKM, Ch14, Exam9, Source]",0
10748,2019-04-11,1516064831099,3,1516064831083,"[Exam9, Goldfarb, Source]",1
10749,2019-04-11,1513823499812,2,1513823499804,"[Exam9, Goldfarb, Source]",0
10750,2019-04-11,1520828627978,3,1520828627965,"[Butsic, Exam9, Questions]",1

## Not Used 

col = Collection(COLLECTION_PATH)

dID_7 = col.decks.id('Exam 7')
dID_9 = col.decks.id('Exam 9')

##Exam 7
query= "select id,nid,did from cards where did = " + str(dID_7)
Exam_7_cards = col.db.all(query)

##Exam 9
query= "select id,nid,did from cards where did = " + str(dID_9)
Exam_9_cards = col.db.all(query)

col.close()