In [99]:
import sys
#   paths
ANKI_PATH = 'C:/Users/plk2033/Documents/PythonDocs/anki-master'
COLLECTION_PATH = "C:/Users/plk2033/Documents/PythonDocs/collection.anki2"

sys.path.append(ANKI_PATH)
import anki
import time
import pandas as pd
from anki import Collection
from anki.utils import intTime

In [79]:
col = Collection(COLLECTION_PATH)

dID_7 = col.decks.id('Exam 7')
dID_9 = col.decks.id('Exam 9')

##Exam 7
query= "select id,nid,did from cards where did = " + str(dID_7)
Exam_7_cards = col.db.all(query)

##Exam 9
query= "select id,nid,did from cards where did = " + str(dID_9)
Exam_9_cards = col.db.all(query)

col.close()

In [121]:
col = Collection(COLLECTION_PATH)

card_id = []
note_id = []
tags =[]

for card in Exam_7_cards:
    card_id.append(card[0])
    note_id.append(card[1])
    tags.append(col.db.all("select tags from notes where id = " + str(card[1]))[0][0].split())
    
Exam7_cards = pd.DataFrame(list(zip(card_id, note_id,tags)), 
            columns =['Card_ID', 'Note_ID','Tags'])

card_id = []
note_id = []
tags =[]

for card in Exam_9_cards:
    card_id.append(card[0])
    note_id.append(card[1])
    tags.append(col.db.all("select tags from notes where id = " + str(card[1]))[0][0].split())
    
Exam9_cards = pd.DataFrame(list(zip(card_id, note_id,tags)), 
            columns =['Card_ID', 'Note_ID','Tags'])
col.close()

In [142]:
col = Collection(COLLECTION_PATH)

revlog = col.db.all("select id,cid,ease from revlog")

col.close()

In [148]:
date = []
card_id = []
ease =[]

result=[]
for card in revlog:
    date.append(time.strftime('%Y-%m-%d', time.localtime(card[0]/1000)))
    card_id.append(card[1])
    ease.append(card[2])

revlog_cards = pd.DataFrame(list(zip(date, card_id,ease)), 
            columns =['Date', 'Card_ID','Ease'])

In [149]:
revlog_cards

             Date        Card_ID  Ease
0      2016-12-13  1481665194745     3
1      2016-12-13  1481665194746     2
2      2016-12-13  1481665194746     2
3      2016-12-13  1481665194746     2
4      2016-12-13  1481665194746     1
5      2016-12-13  1481666068824     1
6      2016-12-13  1481666068825     2
7      2016-12-13  1481666068824     2
8      2016-12-13  1481666068825     2
9      2016-12-13  1481666068824     2
10     2016-12-13  1481665194745     1
11     2016-12-13  1481666068825     1
12     2016-12-13  1481665194746     2
13     2016-12-13  1481666068824     1
14     2016-12-13  1481665194745     1
15     2016-12-13  1481666068825     1
16     2016-12-13  1481666068824     3
17     2016-12-13  1481666068825     1
18     2016-12-13  1481666068824     2
19     2016-12-13  1481666068825     1
20     2016-12-13  1481666068825     3
21     2016-12-13  1481666546948     3
22     2016-12-13  1481666772480     1
23     2016-12-13  1481666068824     3
24     2016-12-13  1481666772480     1
25     2016-12-13  1481667643851     1
26     2016-12-13  1481667643852     1
27     2016-12-13  1481667643851     1
28     2016-12-13  1481667643852     1
29     2016-12-13  1481667643851     1
...           ...            ...   ...
21607  2019-04-11  1514947454233     2
21608  2019-04-11  1512872684569     3
21609  2019-04-11  1520288519923     3
21610  2019-04-11  1512872684566     3
21611  2019-04-11  1516225238623     3
21612  2019-04-11  1511924972532     2
21613  2019-04-11  1509667293007     3
21614  2019-04-11  1509934048559     3
21615  2019-04-11  1520992028072     3
21616  2019-04-11  1520288519927     3
21617  2019-04-11  1509934048569     3
21618  2019-04-11  1509934048563     4
21619  2019-04-11  1514947454229     3
21620  2019-04-11  1516064831094     3
21621  2019-04-11  1516225238637     3
21622  2019-04-11  1515554707280     2
21623  2019-04-11  1511750363650     3
21624  2019-04-11  1511382293148     3
21625  2019-04-11  1522989409688     3
21626  2019-04-11  1513823499810     2
21627  2019-04-11  1513823492031     3
21628  2019-04-11  1516225238630     2
21629  2019-04-11  1513719977385     3
21630  2019-04-11  1515554707283     3
21631  2019-04-11  1517268279893     3
21632  2019-04-11  1510709230271     3
21633  2019-04-11  1511382293152     2
21634  2019-04-11  1516064831099     3
21635  2019-04-11  1513823499812     2
21636  2019-04-11  1520828627978     3

[21637 rows x 3 columns]

In [138]:
#time_test = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(result[0][0]/1000))
time_test = time.strftime('%Y-%m-%d', time.localtime(result[0][0]/1000))
print("result:", time_test)

result: 2016-12-13